In [ ]:
!pip install numpy
!pip install pandas
!pip install seaborn

In [5]:
import numpy as np
import pandas as pd

In [6]:
data = pd.read_csv("dataset/Iris_dataset.csv")
data.sample(5)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
130,131,7.4,2.8,6.1,1.9,Iris-virginica
144,145,6.7,3.3,5.7,2.5,Iris-virginica
88,89,5.6,3.0,4.1,1.3,Iris-versicolor
18,19,5.7,3.8,1.7,0.3,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa

In [7]:
data = data.drop("Id", axis=1)
data.sample(5)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm          Species
56             6.3           3.3            4.7           1.6  Iris-versicolor
124            6.7           3.3            5.7           2.1   Iris-virginica
86             6.7           3.1            4.7           1.5  Iris-versicolor
87             6.3           2.3            4.4           1.3  Iris-versicolor
13             4.3           3.0            1.1           0.1      Iris-setosa

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   SepalLengthCm  150 non-null    float64
 1   SepalWidthCm   150 non-null    float64
 2   PetalLengthCm  150 non-null    float64
 3   PetalWidthCm   150 non-null    float64
 4   Species        150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [9]:
data["Species"].value_counts()

Species
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
Name: count, dtype: int64

In [11]:
x = data.drop("Species", axis=1)
x.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0            5.1           3.5            1.4           0.2
1            4.9           3.0            1.4           0.2
2            4.7           3.2            1.3           0.2
3            4.6           3.1            1.5           0.2
4            5.0           3.6            1.4           0.2

In [12]:
y = data["Species"]
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: Species, dtype: object

<br><br>
## Cross Validation

In [19]:
from sklearn.model_selection import cross_val_score

<br>

## KNN

In [22]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
cross_val_score(knn, x, y, cv=5).mean()

np.float64(0.9733333333333334)

<br>

## Random Forest

In [23]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
cross_val_score(rf, x, y, cv=5).mean()

np.float64(0.96)

<br>

## Naive Bayes

In [24]:
from sklearn.naive_bayes import GaussianNB
nb = GaussianNB()
cross_val_score(nb, x, y, cv=5).mean()

np.float64(0.9533333333333334)

<br>

## SVM

In [25]:
from sklearn.svm import SVC
svm = SVC()
cross_val_score(svm, x, y, cv=5).mean()

np.float64(0.9666666666666666)